.icon-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .icon-card .icon-container {
    margin-bottom: 15px;
  }
  
  .icon-card .icon {
    width: 80px;
    height: 80px;
  }
  
  .icon-card .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .icon-card .description {
    font-size: 1rem;
    color: #555;
  }
  